name: Build

on: [pull_request, push, repository_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        example: ['pca10056']
    steps:
    - name: Setup Python
      uses: actions/setup-python@v1

    - name: Setup Node.js
      uses: actions/setup-node@v1.1.0
      
    - name: Setup Go
      uses: actions/setup-go@v2
      
    - name: Install Toolchains
      run: |
        # Install ARM GCC
        npm install --global xpm
        xpm install --global @xpack-dev-tools/arm-none-eabi-gcc@latest
        echo `echo $HOME/opt/xPacks/@xpack-dev-tools/arm-none-eabi-gcc/*/.content/bin` >> $GITHUB_PATH
              
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Checkout mynewt-newt
      uses: actions/checkout@v2
      with:
         repository: apache/mynewt-newt
         path: mynewt-newt

    - name: Install newt
      run: |
        mynewt-newt/build.sh
        echo "::add-path::$GITHUB_WORKSPACE/mynewt-newt/newt"
        mynewt-newt/newt/newt version

    - name: Build
      run: |
        newt upgrade
        newt build ${{ matrix.example }}-cdc_msc
        newt build ${{ matrix.example }}-msc_dual_lun
        newt build ${{ matrix.example }}-blehci
